.login {
    height: 100vh;
    width: 100%;
    background-color: #2c2f33;
}

.loginButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

    .loginButton > button {
        width: 300px;
        background-color: #7289da;
        color: #eff2f5;
        font-weight: 800;
    }

        .loginButton > button:hover {
            background-color: black;
            color: #7289da;
        }

    .loginButton > div > img {
        object-fit: contain;
        height: 150px;
    }

.someFooter {
    position: fixed;
    left: 50%;
    bottom: 20%;
}
